{
  "$schema": "https://swc.rs/schema.json",
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": false,
    "lazy": true,
    "noInterop": false,
    "preserveImportMeta": true
  }
}
